<div class="lg:w-3/12 mt-10 shadow-md mx-auto pb-20 min-w-fit">
  <h3 class="text-3xl text-center font-semibold py-5">Login</h3>
  <form [formGroup]="loginForm" class="flex flex-col min-w-fit">
    <div *ngIf="responseError.length > 0" class="mx-3">
      <span class="text-red-800">{{ responseError }}</span>
    </div>
    <div class="flex flex-col mt-1 p-3">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
      />
      <span
        *ngIf="
          loginForm.hasError('required', 'email') &&
          loginForm.controls['email'].dirty
        "
        class="text-red-500 mx-1"
        >*An email is required</span
      >
      <span
        *ngIf="loginForm.hasError('email', 'email')"
        class="text-red-500 mx-1"
        >*Invalid email</span
      >
    </div>
    <div class="flex flex-col mt-1 p-3">
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
      />
      <span
        *ngIf="
          loginForm.hasError('required', 'password') &&
          loginForm.controls['password'].dirty
        "
        class="text-red-500 mx-1"
        >*A password is required</span
      >
    </div>
    <button
      [disabled]="loginForm.invalid"
      (click)="login()"
      class="bg-blue-500 m-3 p-3 hover:bg-blue-700 disabled:bg-gray-300 active:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 text-md text-white disabled:font-semibold h-12 rounded dark:bg-slate-700 dark:hover:bg-slate-600 pointer-events-auto"
    >
      Login
    </button>
  </form>
  <div class="flex justify-between">
<span class="m-3 text-blue-500 cursor-pointer" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Forgot Password?</span>
<span class="m-3 text-blue-500 cursor-pointer" [routerLink]="['/register']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Register an account</span>
</div>
</div>
